.env

# Artifacts
ca_chain
certfile
keyfile

# Folders
/.idea
/data/cleaned
/data/raw
/data/transformed
/models
/.cometml-runs
**__pycache__


Files
**.ipynb
**start_geodataframe.parquet
**end_geodataframe.parquet

**start_ids_and_names.json
**end_ids_and_names.json
